
<div class="container-fluid  row">
        <div class=col-12>
                <button (click)="goToMain()" style="float:right">Go to main</button>
        </div>
</div>
<div class="container-fluid  row">
    <div class=col-12>
            <mat-tab-group selectedIndex="1">
            <mat-tab label="One">
                <app-tab1></app-tab1>
            </mat-tab>
            <mat-tab label="Two">
                <app-tab2></app-tab2>
            </mat-tab>
            </mat-tab-group>
    </div>
</div>