<div class="">
    
        <mat-table #table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="lat">
            <mat-header-cell *matHeaderCellDef> Latitude </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lat}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="lng">
                <mat-header-cell *matHeaderCellDef> Longitude </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.lng}} </mat-cell>
              </ng-container>
          
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      
                <mat-spinner *ngIf="isLoading">
                              
                    </mat-spinner>

        <mat-paginator #paginator *ngIf="markers.length>=0"
                       [pageSize]="5"
                       [pageSizeOptions]="[5, 10, 20]">
        </mat-paginator>
        <span *ngIf="markers.length<=0">
                No data found.</span>
</div>
